<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="productMapper" class="net.malta.model.json.mapper.ProductMapper"></bean>
	
	<bean id="productsMapper" class="net.malta.model.json.mapper.ProductsMapper">
		<property name="productMapper" ref="productMapper"></property>
	</bean>
	
	<bean id="itemMapper" class="net.malta.model.json.mapper.ItemMapper" />
	
	<bean id="choiseMapper" class="net.malta.model.json.mapper.ChoiseMapper">
		<property name="itemMapper" ref="itemMapper"></property>
	</bean>

	<bean id="choisesMapper" class="net.malta.model.json.mapper.ChoisesMapper">
		<property name="choiseMapper" ref="choiseMapper"></property>		
	</bean>
	
	<bean id="purchaseMapper" class="net.malta.model.json.mapper.PurchaseMapper">
		<property name="choisesMapper" ref="choisesMapper"></property>
	</bean>
	
	<bean id="purchaseChoiseMapper" class="net.malta.model.json.mapper.PurchaseChoiseMapper">
		<property name="choiseMapper" ref="choiseMapper"></property>
	</bean>

	<bean id="paymentMethodMapper" class="net.malta.model.json.mapper.PaymentMethodMapper" />

	<bean id="paymentMethodsMapper" class="net.malta.model.json.mapper.PaymentMethodsMapper">
		<property name="paymentMethodMapper" ref="paymentMethodMapper"></property>
	</bean>
	
	<bean id="deliveryAddressMapper" class="net.malta.model.json.mapper.DeliveryAddressMapper" />

	<bean id="deliveryAddressesMapper" class="net.malta.model.json.mapper.DeliveryAddressesMapper">
		<property name="deliveryAddressMapper" ref="deliveryAddressMapper"></property>
	</bean>
		
	<bean id="publicUserMapper" class="net.malta.model.json.mapper.PublicUserMapper" ></bean>

	<bean id="choiseFormMapper" class="net.malta.beans.mapper.ChoiseFormMapper"></bean>

	<bean id="publicUserFormMapper" class="net.malta.beans.mapper.PublicUserFormMapper"></bean>

	<bean id="deliveryAddressFormMapper" class="net.malta.beans.mapper.DeliveryAddressFormMapper"></bean>
				
</beans>